

.uk-navbar-container:not(.uk-navbar-transparent){
    background-color:#545062!important;


}
.uk-navbar-container:not(.uk-navbar-transparent) .uk-navbar-nav a{
    color:white!important;
    font-weight: bold;
}

.uk-navbar-right .uk-navbar-toggle{
    color: black!important;
    font-weight: bold;
}



.navmain{
    background:white;
}

.banner-slider{
    height: 500px;
}
/*#feature{background-color: whitesmoke;*/
/*padding: 50px 0;}*/
#feature img{
    height: 120px;
}


.uk-offcanvas-flip .uk-open > .uk-offcanvas-bar{

    background-color:#564A63!important;
}
.uk-offcanvas-bar-animation{
    background-color: #564A63;
}

.uk-offcanas .uk-navbar-nav a{
    color:white!important;
    font-weight: bolder;
}


#feature h2{
    font-size:24px;
}
#feature p{
    color:lightslategray;



}


#services h1{

    font-size:24px;
}
#services .uk-dotnav > .uk-active{
    /*background-color: #F05704!important;*/
}

#services-slider .uk-dotnav > * > *{
    border-color: #F05704!important;
}
#services-slider .uk-dotnav > .uk-active a {

    border-color:  #F05704!important;
    background:  #F05704!important;
}
#services-slider img{
    height: 380px;
}
#services-slider .uk-slideshow-items {
    min-height: 450px !important;
}

#services-slider .uk-dotnav li{border-color: #F05704!important; }
#services-slider .uk-dotnav > * > :hover, .uk-dotnav > * > :focus{
      border-color:#F05704!important;
    background-color: #F05704!important;
}
#services-slider h1{

    font-size:24px;
}


#subscribe{
    background-image: linear-gradient(transparent,transparent),url(../images/subscribe.svg);
    height: 500px;
    background-size: cover;
}
#links span{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: whitesmoke;
    color:#F05704;
    line-height: 50px;
    text-align: center;
}


.footer{
   /*background-color:#F2F2F2;*/
   /* background-color: #03d917;*/
    background-color: #545062;
}
#footer h5{
    font-weight: bold;
    color: #F05704;
}
.footer li a,.footer p{
    color:white;

}

.img-banner{

    background-color: lightcyan;
}

.img-banner img{

    height: 500px;

}

.heading  .uk-text-bold span{
color: #F44B00;
}





/*.div-banner{*/
/*    width: 100%;*/
/*}*/
/*.div-banner img{*/
/*    width: 100%;*/
/*    height: 500px;*/
/*}*/
